@import url (  )
*{margin: o;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 10px;
}
.Container{
    min-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.Container .Title{

    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.Container .Title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.Container form .User-Details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

form .User-Details .Input-box{
  margin-bottom: 15px;
width: calc(100% / 2 - 20px);
}
.User-Details .Input-box .Details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.User-Details .Input-box input{
height: 45px;
width: 100%;
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 15px;
font-size: 16px;
border-width: 2px;
transition: all 0.3s ease;
}

.User-Details .Input-box input:focus
.User-Details .Input-box input:valid{
    border-color: #9b59b6;

}
form .Gender-Details .Gender-Title{
    font-size: 20px;
    font-weight: 500;
}
form .Gender-Details .Category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.Gender-Details .Category label{
    display: flex;
    align-items: center;
}
.Gender-Details .Category .Dot{
    height: 18px;
    width: 18px;
    background: #503939;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid red transparent;
    
}

form .Button{
    height: 45px;
    margin: 20px 0;
}

form .Button input{
    height: 100%;
    width: 100%;
    outline:none
    color: #fff; 
    border: none;
    font-size:18px;
    border-radius: 5px;
    font-weight:500;
    letter-spacing:1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);


}
form .Button input:hover{background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transform: scale(1.2) translateY(5px);
transition: .4s;

}

@media (max-width:584px) { .Container{ max-width: 100%;
} 
form .User-Details .Input-box {margin-bottom: 15px;
width: 100%;
}
form .Gender-Details .Category {width: 100%;
}
.Container form .User-Details {max-height: 300px;
overflow-y: scroll;
}
.User-Details ::-webkit-scrollbar{
    width: 0;
}
}